In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd
import os

In [16]:
train_data= pd.read_excel("all_past_year_paramater_include_yeild.xlsx")
train_data.drop(columns=["Unnamed: 0", "Value (bu)"],inplace=True)

In [17]:
train_data

,Encode,Year,PastTemperature_month1,PastTemperature_month2,PastTemperature_month3,PastTemperature_month4,PastTemperature_month5,PastTemperature_month6,PastTemperature_month7,PastTemperature_month8,...,suntimes_month3,suntimes_month4,suntimes_month5,suntimes_month6,suntimes_month7,suntimes_month8,suntimes_month9,suntimes_month10,suntimes_month11,suntimes_month12
0,0,2022,26.7,24.8,35.8,43.1,52.9,65.7,70.0,67.4,...,1333950,1427590,1594563,1601915,1626190,1522701,1343406,1247107,1085923,1058896
1,1,2022,34.0,24.1,48.1,52.5,61.9,75.8,77.7,79.1,...,1334110,1425904,1591150,1597759,1622356,1520367,1342928,1247871,1088954,1062937
2,2,2022,18.2,6.5,35.6,42.3,55.1,69.9,71.1,69.4,...,1329793,1462633,1667194,1691730,1709275,1573251,1354495,1215876,1021996,972279
3,3,2022,26.7,13.7,36.1,40.5,48.6,65.3,72.5,64.7,...,1329325,1469081,1680426,1708091,1724172,1582053,1356243,1213498,1010427,956643
4,4,2022,29.3,16.5,42.6,47.0,57.9,72.8,75.0,74.3,...,1332441,1439635,1619427,1632523,1654610,1540137,1347258,1235550,1063936,1029230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,4,1896,16.7,18.4,34.4,53.6,59.0,66.2,71.0,71.0,...,1335274,1442148,1621326,1633075,1653670,1538179,1344852,1232754,1061737,1028618
1139,5,1896,-3.2,6.2,23.4,48.8,52.9,59.1,66.5,64.4,...,1332390,1474724,1688304,1715757,1729440,1583547,1354238,1206084,1002900,949225
1140,6,1896,32.1,29.4,49.0,62.7,69.6,77.0,79.1,80.1,...,1337870,1415555,1567407,1567356,1592973,1501171,1337190,1255642,1109682,1092517
1141,7,1896,6.9,12.1,29.0,51.6,55.4,62.1,69.8,69.0,...,1333922,1457361,1652418,1671267,1688745,1559294,1349204,1220611,1034325,991806
1142,8,1896,44.6,38.5,56.4,64.8,69.7,78.0,80.3,81.4,...,1339183,1403053,1542219,1536842,1564679,1483761,1333596,1266998,1132271,1122430

In [18]:
data_yield = pd.read_csv("WheatYield_reset.csv")
#將字串轉成浮點數
for j in range(len(data_yield["Value (bu)"])):
    n = data_yield["Value (bu)"][j].split(",")
    number = ''
    for k in n:
        number += k
        data_yield["Value (bu)"][j] = float(number)

C:\Users\User\AppData\Local\Temp\ipykernel_28800\1444070986.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_yield["Value (bu)"][j] = float(number)

In [19]:
import pandas as pd
import lightgbm as lgb
from sklearn.model_selection import train_test_split


train_data = pd.get_dummies(train_data, columns=['Encode'])
# 將特徵和目標變數分開

In [20]:
X = train_data
y = data_yield["Value (bu)"].astype(int)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
# 建立 LightGBM 資料集
train_data = lgb.Dataset(X_train, label=y_train)

In [22]:
"""
# 設定 LightGBM 參數
params = {
    'objective': 'binary',
    'metric': 'binary_logloss'
}
"""

"\n# 設定 LightGBM 參數\nparams = {\n    'objective': 'binary',\n    'metric': 'binary_logloss'\n}\n"

In [23]:
# Creating a Function for MAPE
import numpy as np

def mape(test, pred):
    test, pred = np.array(test), np.array(pred)
    mape = np.mean(np.abs((test - pred) / test))
    return mape

In [24]:
ratio = 100
ratiovalues = [i for i in range(10, ratio, 10)]
depth = 21
depthvalues = [i for i in range(1, depth)]
leaf = 10
leafvalues = [i for i in range(1, leaf)]

In [27]:
X_test

,Year,PastTemperature_month1,PastTemperature_month2,PastTemperature_month3,PastTemperature_month4,PastTemperature_month5,PastTemperature_month6,PastTemperature_month7,PastTemperature_month8,PastTemperature_month9,...,suntimes_month12,Encode_0,Encode_1,Encode_2,Encode_3,Encode_4,Encode_5,Encode_6,Encode_7,Encode_8
158,2005,3.8,15.5,30.4,43.4,49.8,59.1,67.1,61.5,59.0,...,949850,0,0,0,0,0,1,0,0,0
1081,1902,30.7,26.9,40.6,51.5,62.5,76.6,84.4,78.2,68.1,...,1063311,0,1,0,0,0,0,0,0,0
291,1990,21.4,9.4,26.7,41.0,49.9,58.8,68.8,63.1,54.3,...,956758,0,0,0,1,0,0,0,0,0
538,1963,13.8,17.2,24.1,46.0,58.1,64.5,68.6,70.0,58.1,...,992926,0,0,0,0,0,0,0,1,0
367,1982,25.0,25.6,37.7,51.7,55.4,66.0,73.1,70.1,61.9,...,992659,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,1999,32.6,39.6,38.2,51.9,67.9,73.6,79.6,77.9,74.4,...,1063189,0,1,0,0,0,0,0,0,0
530,1964,39.2,47.7,59.2,70.0,74.4,80.1,83.8,83.2,77.1,...,1122755,0,0,0,0,0,0,0,0,1
306,1988,24.9,30.4,32.4,45.2,53.0,62.8,67.1,64.0,56.7,...,1058683,1,0,0,0,0,0,0,0,0
674,1948,43.3,44.0,51.5,64.2,71.8,80.5,82.6,82.2,77.6,...,1122762,0,0,0,0,0,0,0,0,1
741,1940,25.9,12.6,30.6,43.7,54.4,54.4,68.3,64.6,55.9,...,956597,0,0,0,1,0,0,0,0,0

In [25]:
from sklearn.model_selection import train_test_split, GridSearchCV
# 定義參數空間
param_grid = {
    'num_leaves': leafvalues,
    'learning_rate': [0.05, 0.1, 0.2],
    'max_depth': depthvalues,
    'min_child_samples': [10, 20, 30]
}

# 設定 LightGBM 參數
params = {
    'objective': 'regression',
    'metric': 'rmse'
}

# 使用網格搜尋進行調參
grid_search = GridSearchCV(estimator = lgb.LGBMRegressor(**params), param_grid = param_grid, cv = 3)
grid_search.fit(X_train, y_train)

# 取得最佳參數組合
best_params = grid_search.best_params_

# 使用最佳參數重新訓練模型
model = lgb.LGBMRegressor(**params, **best_params)
model.fit(X_train, y_train)

# 預測測試集
y_pred = model.predict(X_test)

# 計算均方根誤差 (Root Mean Squared Error, RMSE)
rmse = mean_squared_error(y_test, y_pred, squared = False)

mape_r = mape(y_test,y_pred)

print('Best parameters:', best_params)
print('RMSE:', rmse)
print('MAPE:', mape_r)
r2 = 1 - ((y_pred - y_test) ** 2).sum() / ((y_test - y_test.mean()) ** 2).sum()

print('R-squared:', r2)

c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
540 fits failed out of a total of 4860.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
540 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\lightgbm\sklearn.py", line 818, in fit
    super().fit(X, y, sample_weight=sample_weight, init_score=init_score,
  File "c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\lightgbm\sklearn.py", line 683, in fit
    self._Booster = train(params, train_set,
  File "c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\lightgbm\engine.py", line 228, in train
    booster = Booster(params=params, train_set=train_set)
  File "c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\lightgbm\basic.py", line 2229, in __init__
    train_set.construct()
  File "c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\lightgbm\basic.py", line 1468, in construct
    self._lazy_init(self.data, label=self.label,
  File "c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\lightgbm\basic.py", line 1270, in _lazy_init
    self.__init_from_np2d(data, params_str, ref_dataset)
  File "c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\lightgbm\basic.py", line 1312, in __init_from_np2d
    _safe_call(_LIB.LGBM_DatasetCreateFromMat(
  File "c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\lightgbm\basic.py", line 110, in _safe_call
    raise LightGBMError(_LIB.LGBM_GetLastError().decode('utf-8'))
lightgbm.basic.LightGBMError: Check failed: (num_leaves) > (1) at D:\a\1\s\python-package\compile\src\io\config_auto.cpp, line 324 .


  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan 0.67489908 0.67489908 ... 0.8683681  0.86364983 0.86290134]
  warnings.warn(

Best parameters: {'learning_rate': 0.2, 'max_depth': 7, 'min_child_samples': 10, 'num_leaves': 8}
RMSE: 29858085.008974217
MAPE: 0.41745487048422397
R-squared: 0.9146270005815932

In [35]:
dataset = pd.read_excel("For Prediction.xlsx")
dataset.drop(columns = "Unnamed: 0", inplace = True)
dataset = pd.get_dummies(dataset, columns=['Encode'])

In [36]:
dataset

,Year,PastTemperature_month1,PastTemperature_month2,PastTemperature_month3,PastTemperature_month4,PastTemperature_month5,PastTemperature_month6,PastTemperature_month7,PastTemperature_month8,PastTemperature_month9,...,suntimes_month12,Encode_0,Encode_1,Encode_2,Encode_3,Encode_4,Encode_5,Encode_6,Encode_7,Encode_8
0,2023,26.6,25.0,35.0,43.7,53.3,64.3,70.3,67.8,62.5,...,1059032,1,0,0,0,0,0,0,0,0
1,2023,29.8,31.8,44.1,54.1,64.7,75.8,81.1,79.2,72.0,...,1063071,0,1,0,0,0,0,0,0,0
2,2023,3.6,6.5,26.1,35.6,55.4,66.2,69.7,67.3,60.2,...,972462,0,0,1,0,0,0,0,0,0
3,2023,22.9,22.4,33.5,35.2,48.6,58.5,69.1,69.7,60.7,...,956833,0,0,0,1,0,0,0,0,0
4,2023,25.6,26.8,38.0,46.5,58.7,71.4,76.4,74.9,67.4,...,1029382,0,0,0,0,1,0,0,0,0
5,2023,8.7,9.4,26.9,33.6,52.9,64.6,70.6,69.5,60.9,...,950205,0,0,0,0,0,1,0,0,0
6,2023,37.0,38.5,50.4,61.0,70.5,79.3,86.5,82.4,75.9,...,1093118,0,0,0,0,0,0,1,0,0
7,2023,19.1,19.8,33.3,39.6,55.3,67.6,74.6,73.2,65.3,...,992668,0,0,0,0,0,0,0,1,0
8,2023,45.9,45.9,57.2,68.8,78.0,83.8,87.1,83.3,77.8,...,1122957,0,0,0,0,0,0,0,0,1

In [37]:
y_predict = model.predict(dataset)

In [41]:
y_predict

array([5.51461162e+07, 2.79573104e+08, 6.52781537e+07, 1.46607341e+08,
       4.88230219e+07, 2.88386613e+08, 1.18733093e+08, 6.41935984e+07,
       8.17286762e+07])